@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--sidebar-bg: 53, 53, 53;
		--sidebar-hover: 69, 69, 69;
		--sidebar-avatar-bg: 198, 48, 49;
		--sidebar-avatar-text: 50, 50, 50;
		--sidebar-text: 204, 203, 203;
	}
}

body {
	background-color: #353535;
	color: #ffffff;
	font-family: var(--font-inter), sans-serif;
}


@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
