@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-bg: 53, 53, 53;
    --sidebar-hover: 69, 69, 69;
    --sidebar-avatar-bg: 198, 48, 49;
    --sidebar-avatar-text: 50, 50, 50;
    --sidebar-text: 204, 203, 203;
    --body-bg: #353535;
    --body-text: #ffffff;
  }
}

body {
  background-color: var(--body-bg);
  color: var(--body-text);
  font-family: var(--font-inter), sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #353535 inset !important;
    -webkit-text-fill-color: #C7C7C7 !important;
    caret-color: #C7C7C7 !important;

  }
}

@keyframes ripple-animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}