@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--border: 220 13% 18%;
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--sidebar-bg: 53, 53, 53;
		--sidebar-hover: 69, 69, 69;
		--sidebar-avatar-bg: 198, 48, 49;
		--sidebar-avatar-text: 50, 50, 50;
		--sidebar-text: 204, 203, 203;
	}
}

body {
	background-color: #353535;
	color: #ffffff;
	font-family: var(--font-inter), sans-serif;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
