.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	height: 100vh;
	background-color: #353535;
	padding: 42px 0 20px 0;
	color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: width 0.3s ease, padding 0.3s ease;

	&.collapsed {
		width: 60px;
		padding: 42px 0 20px 0;
	}
}

.menuList {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.menuLink {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 17px 16px;
	border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
	color: rgb(204, 203, 203);
	text-decoration: none;
	transition: background-color 0.2s ease;
	justify-content: flex-start;

	.sidebar.collapsed & {
		justify-content: center;
		padding: 18px 0;
	}

	&:hover {
		background-color: #454545;
	}

	&.active {
		color: #ffffff;
		background-color: #454545;
	}
}

.menuIcon {
	font-size: 21px;
}

.menuText {
	white-space: nowrap;
	transition: opacity 0.2s ease;

	.sidebar.collapsed & {
		display: none;
	}
}

.userSection {
	gap: 12px;
	display: flex;
	flex-direction: column;
}

.userProfile {
	gap: 12px;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: flex-start;
	padding: 8px 10px;
	border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
	transition: background-color 0.2s ease;

	.sidebar.collapsed & {
		justify-content: center;
	}

	&:hover {
		background-color: #454545;
	}
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #c63031;
	color: rgb(50, 50, 50);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.userName {
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.collapseButton {
	margin-left: 10px;
	background: transparent;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: #454545;
	}
}

.collapseIcon {
	font-size: 20px;
	color: #ffffff;
	transition: transform 0.3s ease;

	&.rotated {
		transform: rotate(180deg);
	}
}
